Web References/WebService/AccountantPortalFinanceCues.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues" targetNamespace="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="AccountantPortalFinanceCues">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OverduePurchaseDocumentsAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseDiscountsNextWeekAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OverdueSalesDocumentsAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseDocumentsDueTodayAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VendorsPaymentsOnHoldAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="POsPendingApprovalAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SOsPendingApprovalAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ApprovedSalesOrdersAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ApprovedPurchaseOrdersAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseReturnOrdersAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SalesReturnOrdersAllAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CustomersBlockedAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewIncomingDocumentsAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ApprovedIncomingDocumentsAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OCRPendingAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OCRCompletedAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RequestsToApproveAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RequestsSentForApprovalAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CashAccountsBalanceAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastDepreciatedPostedDateAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastLoginDateAmount" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountantPortalFinanceCues_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="AccountantPortalFinanceCues" type="tns:AccountantPortalFinanceCues" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="AccountantPortalFinanceCues_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OverduePurchaseDocumentsAmount" />
          <xsd:enumeration value="OverduePurchaseDocumentsStyle" />
          <xsd:enumeration value="PurchaseDiscountsNextWeekAmount" />
          <xsd:enumeration value="PurchaseDiscountsNextWeekStyle" />
          <xsd:enumeration value="OverdueSalesDocumentsAmount" />
          <xsd:enumeration value="OverdueSalesDocumentsStyle" />
          <xsd:enumeration value="PurchaseDocumentsDueTodayAmount" />
          <xsd:enumeration value="PurchaseDocumentsDueTodayStyle" />
          <xsd:enumeration value="VendorsPaymentsOnHoldAmount" />
          <xsd:enumeration value="VendorsPaymentsOnHoldStyle" />
          <xsd:enumeration value="POsPendingApprovalAmount" />
          <xsd:enumeration value="POsPendingApprovalStyle" />
          <xsd:enumeration value="SOsPendingApprovalAmount" />
          <xsd:enumeration value="SOsPendingApprovalStyle" />
          <xsd:enumeration value="ApprovedSalesOrdersAmount" />
          <xsd:enumeration value="ApprovedSalesOrdersStyle" />
          <xsd:enumeration value="ApprovedPurchaseOrdersAmount" />
          <xsd:enumeration value="ApprovedPurchaseOrdersStyle" />
          <xsd:enumeration value="PurchaseReturnOrdersAmount" />
          <xsd:enumeration value="PurchaseReturnOrdersStyle" />
          <xsd:enumeration value="SalesReturnOrdersAllAmount" />
          <xsd:enumeration value="SalesReturnOrdersAllStyle" />
          <xsd:enumeration value="CustomersBlockedAmount" />
          <xsd:enumeration value="CustomersBlockedStyle" />
          <xsd:enumeration value="NewIncomingDocumentsAmount" />
          <xsd:enumeration value="NewIncomingDocumentsStyle" />
          <xsd:enumeration value="ApprovedIncomingDocumentsAmount" />
          <xsd:enumeration value="ApprovedIncomingDocumentsStyle" />
          <xsd:enumeration value="OCRPendingAmount" />
          <xsd:enumeration value="OCRPendingStyle" />
          <xsd:enumeration value="OCRCompletedAmount" />
          <xsd:enumeration value="OCRCompletedStyle" />
          <xsd:enumeration value="RequestsToApproveAmount" />
          <xsd:enumeration value="RequestsToApproveStyle" />
          <xsd:enumeration value="RequestsSentForApprovalAmount" />
          <xsd:enumeration value="RequestsSentForApprovalStyle" />
          <xsd:enumeration value="CashAccountsBalanceAmount" />
          <xsd:enumeration value="CashAccountsBalanceStyle" />
          <xsd:enumeration value="LastDepreciatedPostedDateAmount" />
          <xsd:enumeration value="LastDepreciatedPostedDateStyle" />
          <xsd:enumeration value="LastLoginDateAmount" />
          <xsd:enumeration value="LastLoginDateStyle" />
          <xsd:enumeration value="MyUserTaskStyle" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="AccountantPortalFinanceCues_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:AccountantPortalFinanceCues_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="AccountantPortalFinanceCues" type="tns:AccountantPortalFinanceCues" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:AccountantPortalFinanceCues_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:AccountantPortalFinanceCues_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues" type="tns:AccountantPortalFinanceCues" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues" type="tns:AccountantPortalFinanceCues" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues_List" type="tns:AccountantPortalFinanceCues_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues_List" type="tns:AccountantPortalFinanceCues_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues" type="tns:AccountantPortalFinanceCues" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues" type="tns:AccountantPortalFinanceCues" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues_List" type="tns:AccountantPortalFinanceCues_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountantPortalFinanceCues_List" type="tns:AccountantPortalFinanceCues_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="AccountantPortalFinanceCues_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="AccountantPortalFinanceCues_Binding" type="tns:AccountantPortalFinanceCues_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/accountantportalfinancecues:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="AccountantPortalFinanceCues_Service">
    <port name="AccountantPortalFinanceCues_Port" binding="tns:AccountantPortalFinanceCues_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/AccountantPortalFinanceCues" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>