Web References/WebService/Job_Planning_Lines.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/job_planning_lines" targetNamespace="urn:microsoft-dynamics-schemas/page/job_planning_lines" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/job_planning_lines" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Line_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Budget" />
          <xsd:enumeration value="Billable" />
          <xsd:enumeration value="Both_Budget_and_Billable" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Resource" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Text" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Reserve">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Ledger_Entry_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Resource" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="G_L_Account" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Job_Planning_Lines">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Task_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Type" type="tns:Line_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Usage_Link" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planning_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planned_Delivery_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Work_Type_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserve" type="tns:Reserve" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserved_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Direct_Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Total_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Total_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Line_Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Discount_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Posted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Transfer_to_Journal" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Total_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Total_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Line_Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Transferred_to_Invoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Transfer_to_Invoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Invoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Invoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoiced_Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoiced_Cost_Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Serial_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Contract_Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ledger_Entry_Type" type="tns:Ledger_Entry_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ledger_Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="System_Created_Entry" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Overdue" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Job_Planning_Lines_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Job_Planning_Lines" type="tns:Job_Planning_Lines" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Job_Planning_Lines_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Job_No" />
          <xsd:enumeration value="Job_Task_No" />
          <xsd:enumeration value="Line_Type" />
          <xsd:enumeration value="Usage_Link" />
          <xsd:enumeration value="Planning_Date" />
          <xsd:enumeration value="Planned_Delivery_Date" />
          <xsd:enumeration value="Currency_Date" />
          <xsd:enumeration value="Document_No" />
          <xsd:enumeration value="Line_No" />
          <xsd:enumeration value="Type" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Gen_Bus_Posting_Group" />
          <xsd:enumeration value="Gen_Prod_Posting_Group" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Work_Type_Code" />
          <xsd:enumeration value="Unit_of_Measure_Code" />
          <xsd:enumeration value="Reserve" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Reserved_Quantity" />
          <xsd:enumeration value="Quantity_Base" />
          <xsd:enumeration value="Remaining_Qty" />
          <xsd:enumeration value="Direct_Unit_Cost_LCY" />
          <xsd:enumeration value="Unit_Cost" />
          <xsd:enumeration value="Unit_Cost_LCY" />
          <xsd:enumeration value="Total_Cost" />
          <xsd:enumeration value="Remaining_Total_Cost" />
          <xsd:enumeration value="Total_Cost_LCY" />
          <xsd:enumeration value="Remaining_Total_Cost_LCY" />
          <xsd:enumeration value="Unit_Price" />
          <xsd:enumeration value="Unit_Price_LCY" />
          <xsd:enumeration value="Line_Amount" />
          <xsd:enumeration value="Remaining_Line_Amount" />
          <xsd:enumeration value="Line_Amount_LCY" />
          <xsd:enumeration value="Remaining_Line_Amount_LCY" />
          <xsd:enumeration value="Line_Discount_Amount" />
          <xsd:enumeration value="Line_Discount_Percent" />
          <xsd:enumeration value="Total_Price" />
          <xsd:enumeration value="Total_Price_LCY" />
          <xsd:enumeration value="Qty_Posted" />
          <xsd:enumeration value="Qty_to_Transfer_to_Journal" />
          <xsd:enumeration value="Posted_Total_Cost" />
          <xsd:enumeration value="Posted_Total_Cost_LCY" />
          <xsd:enumeration value="Posted_Line_Amount" />
          <xsd:enumeration value="Posted_Line_Amount_LCY" />
          <xsd:enumeration value="Qty_Transferred_to_Invoice" />
          <xsd:enumeration value="Qty_to_Transfer_to_Invoice" />
          <xsd:enumeration value="Qty_Invoiced" />
          <xsd:enumeration value="Qty_to_Invoice" />
          <xsd:enumeration value="Invoiced_Amount_LCY" />
          <xsd:enumeration value="Invoiced_Cost_Amount_LCY" />
          <xsd:enumeration value="User_ID" />
          <xsd:enumeration value="Serial_No" />
          <xsd:enumeration value="Lot_No" />
          <xsd:enumeration value="Job_Contract_Entry_No" />
          <xsd:enumeration value="Ledger_Entry_Type" />
          <xsd:enumeration value="Ledger_Entry_No" />
          <xsd:enumeration value="System_Created_Entry" />
          <xsd:enumeration value="Overdue" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Job_Planning_Lines_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Job_Planning_Lines_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_No" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Task_No" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Line_No" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Job_Planning_Lines" type="tns:Job_Planning_Lines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Job_Planning_Lines" type="tns:Job_Planning_Lines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Job_Planning_Lines_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Job_Planning_Lines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines" type="tns:Job_Planning_Lines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines" type="tns:Job_Planning_Lines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines_List" type="tns:Job_Planning_Lines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines_List" type="tns:Job_Planning_Lines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines" type="tns:Job_Planning_Lines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines" type="tns:Job_Planning_Lines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines_List" type="tns:Job_Planning_Lines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Job_Planning_Lines_List" type="tns:Job_Planning_Lines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Job_Planning_Lines_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Job_Planning_Lines_Binding" type="tns:Job_Planning_Lines_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/job_planning_lines:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Job_Planning_Lines_Service">
    <port name="Job_Planning_Lines_Port" binding="tns:Job_Planning_Lines_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/Job_Planning_Lines" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>