Web References/WebService/purchaseDocumentLines.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/purchasedocumentlines" targetNamespace="urn:microsoft-dynamics-schemas/page/purchasedocumentlines" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/purchasedocumentlines" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="documentType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Blanket_Order" />
          <xsd:enumeration value="Return_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Fixed_Asset" />
          <xsd:enumeration value="Charge_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="vatCalculationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal_VAT" />
          <xsd:enumeration value="Reverse_Charge_VAT" />
          <xsd:enumeration value="Full_VAT" />
          <xsd:enumeration value="Sales_Tax" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="icPartnerRefType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Charge_Item" />
          <xsd:enumeration value="Cross_Reference" />
          <xsd:enumeration value="Common_Item_No" />
          <xsd:enumeration value="Vendor_Item_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="prepmtVatCalcType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal_VAT" />
          <xsd:enumeration value="Reverse_Charge_VAT" />
          <xsd:enumeration value="Full_VAT" />
          <xsd:enumeration value="Sales_Tax" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="jobLineType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Budget" />
          <xsd:enumeration value="Billable" />
          <xsd:enumeration value="Both_Budget_and_Billable" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="faPostingType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Acquisition_Cost" />
          <xsd:enumeration value="Maintenance" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="crossReferenceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Vendor" />
          <xsd:enumeration value="Bar_Code" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="subtype">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Item_Inventory" />
          <xsd:enumeration value="Item_Service" />
          <xsd:enumeration value="Comment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="planningFlexibility">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Unlimited" />
          <xsd:enumeration value="None" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="purchaseDocumentLines">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentType" type="tns:documentType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromVendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type" type="tns:type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="expectedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToInvoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToReceive" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="directUnitCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCostLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amountIncludingVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitPriceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="grossWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitsPerParcel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitVolume" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="applToItemEntry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="indirectCostPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recalculateInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyRcdNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amtRcdNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityReceived" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receiptNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receiptLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="profitPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToVendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorItemNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dropShipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatCalculationType" type="tns:vatCalculationType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transportMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="attachedToLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="entryPoint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionSpecification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="useTax" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amtRcdNotInvoicedLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blanketOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blanketOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBaseAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="systemCreatedEntry" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatDifference" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscAmountToInvoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatIdentifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerRefType" type="tns:icPartnerRefType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerReference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtLineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtInv" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtInclVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatBaseAmt" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatCalcType" type="tns:prepmtVatCalcType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatIdentifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtToDeduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtDeducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentLine" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmountInvInclVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmountInvLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatAmountInvLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatDifference" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatDiffToDeduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatDiffDeducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmtExVatLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aRcdNotInvExVatLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dimensionSetId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobTaskNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineType" type="tns:jobLineType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobUnitPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobTotalPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobUnitPriceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobTotalPriceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineDiscAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobCurrencyFactor" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobCurrencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobPlanningLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobRemainingQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobRemainingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deferralCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnsDeferralStartDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prodOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="variantCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="binCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyPerUnitOfMeasure" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToInvoiceBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToReceiveBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyRcdNotInvoicedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyReceivedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyInvoicedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="faPostingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="faPostingType" type="tns:faPostingType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="depreciationBookCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salvageValue" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deprUntilFaPostingDate" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deprAcquisitionCost" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="maintenanceCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="insuranceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budgetedFaNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="duplicateInDepreciationBook" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="useDuplicationList" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="responsibilityCenter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCrossRef" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceType" type="tns:crossReferenceType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceTypeNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="itemCategoryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="nonstock" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchasingCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrderSalesNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrderSalesLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="whseOutstandingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="completelyReceived" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="requestedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promisedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leadTimeCalculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inboundWhseHandlingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowItemChargeAssignment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToAssign" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyAssigned" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyToShip" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyToShipBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyShippedNotInvd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retQtyShpdNotInvdBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShpdNotInvd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShpdNotInvdLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyShipped" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyShippedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShipmentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShipmentLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnReasonCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="subtype" type="tns:subtype" />
          <xsd:element minOccurs="0" maxOccurs="1" name="routingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="operationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workCenterNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finished" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prodOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="overheadRate" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mpsOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningFlexibility" type="tns:planningFlexibility" />
          <xsd:element minOccurs="0" maxOccurs="1" name="safetyLeadTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="routingReferenceNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="purchaseDocumentLines_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="purchaseDocumentLines" type="tns:purchaseDocumentLines" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="purchaseDocumentLines_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="documentType" />
          <xsd:enumeration value="buyFromVendorNumber" />
          <xsd:enumeration value="documentNumber" />
          <xsd:enumeration value="lineNumber" />
          <xsd:enumeration value="type" />
          <xsd:enumeration value="number" />
          <xsd:enumeration value="locationCode" />
          <xsd:enumeration value="postingGroup" />
          <xsd:enumeration value="expectedReceiptDate" />
          <xsd:enumeration value="description" />
          <xsd:enumeration value="description2" />
          <xsd:enumeration value="unitOfMeasure" />
          <xsd:enumeration value="quantity" />
          <xsd:enumeration value="outstandingQuantity" />
          <xsd:enumeration value="qtyToInvoice" />
          <xsd:enumeration value="qtyToReceive" />
          <xsd:enumeration value="directUnitCost" />
          <xsd:enumeration value="unitCostLcy" />
          <xsd:enumeration value="vatPercent" />
          <xsd:enumeration value="lineDiscountPercent" />
          <xsd:enumeration value="lineDiscountAmount" />
          <xsd:enumeration value="amount" />
          <xsd:enumeration value="amountIncludingVat" />
          <xsd:enumeration value="unitPriceLcy" />
          <xsd:enumeration value="allowInvoiceDisc" />
          <xsd:enumeration value="grossWeight" />
          <xsd:enumeration value="netWeight" />
          <xsd:enumeration value="unitsPerParcel" />
          <xsd:enumeration value="unitVolume" />
          <xsd:enumeration value="applToItemEntry" />
          <xsd:enumeration value="shortcutDimension1Code" />
          <xsd:enumeration value="shortcutDimension2Code" />
          <xsd:enumeration value="jobNumber" />
          <xsd:enumeration value="indirectCostPercent" />
          <xsd:enumeration value="recalculateInvoiceDisc" />
          <xsd:enumeration value="outstandingAmount" />
          <xsd:enumeration value="qtyRcdNotInvoiced" />
          <xsd:enumeration value="amtRcdNotInvoiced" />
          <xsd:enumeration value="quantityReceived" />
          <xsd:enumeration value="quantityInvoiced" />
          <xsd:enumeration value="receiptNumber" />
          <xsd:enumeration value="receiptLineNumber" />
          <xsd:enumeration value="profitPercent" />
          <xsd:enumeration value="payToVendorNumber" />
          <xsd:enumeration value="invDiscountAmount" />
          <xsd:enumeration value="vendorItemNumber" />
          <xsd:enumeration value="salesOrderNumber" />
          <xsd:enumeration value="salesOrderLineNumber" />
          <xsd:enumeration value="dropShipment" />
          <xsd:enumeration value="genBusPostingGroup" />
          <xsd:enumeration value="genProdPostingGroup" />
          <xsd:enumeration value="vatCalculationType" />
          <xsd:enumeration value="transactionType" />
          <xsd:enumeration value="transportMethod" />
          <xsd:enumeration value="attachedToLineNumber" />
          <xsd:enumeration value="entryPoint" />
          <xsd:enumeration value="area" />
          <xsd:enumeration value="transactionSpecification" />
          <xsd:enumeration value="taxAreaCode" />
          <xsd:enumeration value="taxLiable" />
          <xsd:enumeration value="taxGroupCode" />
          <xsd:enumeration value="useTax" />
          <xsd:enumeration value="vatBusPostingGroup" />
          <xsd:enumeration value="vatProdPostingGroup" />
          <xsd:enumeration value="currencyCode" />
          <xsd:enumeration value="outstandingAmountLcy" />
          <xsd:enumeration value="amtRcdNotInvoicedLcy" />
          <xsd:enumeration value="reservedQuantity" />
          <xsd:enumeration value="blanketOrderNumber" />
          <xsd:enumeration value="blanketOrderLineNumber" />
          <xsd:enumeration value="vatBaseAmount" />
          <xsd:enumeration value="unitCost" />
          <xsd:enumeration value="systemCreatedEntry" />
          <xsd:enumeration value="lineAmount" />
          <xsd:enumeration value="vatDifference" />
          <xsd:enumeration value="invDiscAmountToInvoice" />
          <xsd:enumeration value="vatIdentifier" />
          <xsd:enumeration value="icPartnerRefType" />
          <xsd:enumeration value="icPartnerReference" />
          <xsd:enumeration value="prepaymentPercent" />
          <xsd:enumeration value="prepmtLineAmount" />
          <xsd:enumeration value="prepmtAmtInv" />
          <xsd:enumeration value="prepmtAmtInclVat" />
          <xsd:enumeration value="prepaymentAmount" />
          <xsd:enumeration value="prepmtVatBaseAmt" />
          <xsd:enumeration value="prepaymentVatPercent" />
          <xsd:enumeration value="prepmtVatCalcType" />
          <xsd:enumeration value="prepaymentVatIdentifier" />
          <xsd:enumeration value="prepaymentTaxAreaCode" />
          <xsd:enumeration value="prepaymentTaxLiable" />
          <xsd:enumeration value="prepaymentTaxGroupCode" />
          <xsd:enumeration value="prepmtAmtToDeduct" />
          <xsd:enumeration value="prepmtAmtDeducted" />
          <xsd:enumeration value="prepaymentLine" />
          <xsd:enumeration value="prepmtAmountInvInclVat" />
          <xsd:enumeration value="prepmtAmountInvLcy" />
          <xsd:enumeration value="icPartnerCode" />
          <xsd:enumeration value="prepmtVatAmountInvLcy" />
          <xsd:enumeration value="prepaymentVatDifference" />
          <xsd:enumeration value="prepmtVatDiffToDeduct" />
          <xsd:enumeration value="prepmtVatDiffDeducted" />
          <xsd:enumeration value="outstandingAmtExVatLcy" />
          <xsd:enumeration value="aRcdNotInvExVatLcy" />
          <xsd:enumeration value="dimensionSetId" />
          <xsd:enumeration value="jobTaskNumber" />
          <xsd:enumeration value="jobLineType" />
          <xsd:enumeration value="jobUnitPrice" />
          <xsd:enumeration value="jobTotalPrice" />
          <xsd:enumeration value="jobLineAmount" />
          <xsd:enumeration value="jobLineDiscountAmount" />
          <xsd:enumeration value="jobLineDiscountPercent" />
          <xsd:enumeration value="jobUnitPriceLcy" />
          <xsd:enumeration value="jobTotalPriceLcy" />
          <xsd:enumeration value="jobLineAmountLcy" />
          <xsd:enumeration value="jobLineDiscAmountLcy" />
          <xsd:enumeration value="jobCurrencyFactor" />
          <xsd:enumeration value="jobCurrencyCode" />
          <xsd:enumeration value="jobPlanningLineNumber" />
          <xsd:enumeration value="jobRemainingQty" />
          <xsd:enumeration value="jobRemainingQtyBase" />
          <xsd:enumeration value="deferralCode" />
          <xsd:enumeration value="returnsDeferralStartDate" />
          <xsd:enumeration value="prodOrderNumber" />
          <xsd:enumeration value="variantCode" />
          <xsd:enumeration value="binCode" />
          <xsd:enumeration value="qtyPerUnitOfMeasure" />
          <xsd:enumeration value="unitOfMeasureCode" />
          <xsd:enumeration value="quantityBase" />
          <xsd:enumeration value="outstandingQtyBase" />
          <xsd:enumeration value="qtyToInvoiceBase" />
          <xsd:enumeration value="qtyToReceiveBase" />
          <xsd:enumeration value="qtyRcdNotInvoicedBase" />
          <xsd:enumeration value="qtyReceivedBase" />
          <xsd:enumeration value="qtyInvoicedBase" />
          <xsd:enumeration value="reservedQtyBase" />
          <xsd:enumeration value="faPostingDate" />
          <xsd:enumeration value="faPostingType" />
          <xsd:enumeration value="depreciationBookCode" />
          <xsd:enumeration value="salvageValue" />
          <xsd:enumeration value="deprUntilFaPostingDate" />
          <xsd:enumeration value="deprAcquisitionCost" />
          <xsd:enumeration value="maintenanceCode" />
          <xsd:enumeration value="insuranceNumber" />
          <xsd:enumeration value="budgetedFaNumber" />
          <xsd:enumeration value="duplicateInDepreciationBook" />
          <xsd:enumeration value="useDuplicationList" />
          <xsd:enumeration value="responsibilityCenter" />
          <xsd:enumeration value="crossReferenceNumber" />
          <xsd:enumeration value="unitOfMeasureCrossRef" />
          <xsd:enumeration value="crossReferenceType" />
          <xsd:enumeration value="crossReferenceTypeNumber" />
          <xsd:enumeration value="itemCategoryCode" />
          <xsd:enumeration value="nonstock" />
          <xsd:enumeration value="purchasingCode" />
          <xsd:enumeration value="productGroupCode" />
          <xsd:enumeration value="specialOrder" />
          <xsd:enumeration value="specialOrderSalesNumber" />
          <xsd:enumeration value="specialOrderSalesLineNumber" />
          <xsd:enumeration value="whseOutstandingQtyBase" />
          <xsd:enumeration value="completelyReceived" />
          <xsd:enumeration value="requestedReceiptDate" />
          <xsd:enumeration value="promisedReceiptDate" />
          <xsd:enumeration value="leadTimeCalculation" />
          <xsd:enumeration value="inboundWhseHandlingTime" />
          <xsd:enumeration value="plannedReceiptDate" />
          <xsd:enumeration value="orderDate" />
          <xsd:enumeration value="allowItemChargeAssignment" />
          <xsd:enumeration value="qtyToAssign" />
          <xsd:enumeration value="qtyAssigned" />
          <xsd:enumeration value="returnQtyToShip" />
          <xsd:enumeration value="returnQtyToShipBase" />
          <xsd:enumeration value="returnQtyShippedNotInvd" />
          <xsd:enumeration value="retQtyShpdNotInvdBase" />
          <xsd:enumeration value="returnShpdNotInvd" />
          <xsd:enumeration value="returnShpdNotInvdLcy" />
          <xsd:enumeration value="returnQtyShipped" />
          <xsd:enumeration value="returnQtyShippedBase" />
          <xsd:enumeration value="returnShipmentNumber" />
          <xsd:enumeration value="returnShipmentLineNumber" />
          <xsd:enumeration value="returnReasonCode" />
          <xsd:enumeration value="subtype" />
          <xsd:enumeration value="routingNumber" />
          <xsd:enumeration value="operationNumber" />
          <xsd:enumeration value="workCenterNumber" />
          <xsd:enumeration value="finished" />
          <xsd:enumeration value="prodOrderLineNumber" />
          <xsd:enumeration value="overheadRate" />
          <xsd:enumeration value="mpsOrder" />
          <xsd:enumeration value="planningFlexibility" />
          <xsd:enumeration value="safetyLeadTime" />
          <xsd:enumeration value="routingReferenceNumber" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="purchaseDocumentLines_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:purchaseDocumentLines_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="documentType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="documentNumber" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="lineNumber" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="purchaseDocumentLines" type="tns:purchaseDocumentLines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="purchaseDocumentLines" type="tns:purchaseDocumentLines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:purchaseDocumentLines_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:purchaseDocumentLines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines" type="tns:purchaseDocumentLines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines" type="tns:purchaseDocumentLines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines_List" type="tns:purchaseDocumentLines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines_List" type="tns:purchaseDocumentLines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines" type="tns:purchaseDocumentLines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines" type="tns:purchaseDocumentLines" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines_List" type="tns:purchaseDocumentLines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchaseDocumentLines_List" type="tns:purchaseDocumentLines_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="purchaseDocumentLines_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="purchaseDocumentLines_Binding" type="tns:purchaseDocumentLines_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchasedocumentlines:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="purchaseDocumentLines_Service">
    <port name="purchaseDocumentLines_Port" binding="tns:purchaseDocumentLines_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/purchaseDocumentLines" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>