Web References/WebService/salesDocuments.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/salesdocuments" targetNamespace="urn:microsoft-dynamics-schemas/page/salesdocuments" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/salesdocuments" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="documentType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Blanket_Order" />
          <xsd:enumeration value="Return_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="appliesToDocType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Payment" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Finance_Charge_Memo" />
          <xsd:enumeration value="Reminder" />
          <xsd:enumeration value="Refund" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="balAccountType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Bank_Account" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="reserve">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="Pending_Prepayment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="invoiceDiscountCalculation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Percent" />
          <xsd:enumeration value="Amount" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="icStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="New" />
          <xsd:enumeration value="Pending" />
          <xsd:enumeration value="Sent" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="icDirection">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Outgoing" />
          <xsd:enumeration value="Incoming" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="jobQueueStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Scheduled_for_Posting" />
          <xsd:enumeration value="Error" />
          <xsd:enumeration value="Posting" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="shippingAdvice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Partial" />
          <xsd:enumeration value="Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="documentType_1">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Blanket_Order" />
          <xsd:enumeration value="Return_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Resource" />
          <xsd:enumeration value="Fixed_Asset" />
          <xsd:enumeration value="Charge_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="vatCalculationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal_VAT" />
          <xsd:enumeration value="Reverse_Charge_VAT" />
          <xsd:enumeration value="Full_VAT" />
          <xsd:enumeration value="Sales_Tax" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="reserve_96">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="icPartnerRefType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Charge_Item" />
          <xsd:enumeration value="Cross_Reference" />
          <xsd:enumeration value="Common_Item_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="prepmtVatCalcType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal_VAT" />
          <xsd:enumeration value="Reverse_Charge_VAT" />
          <xsd:enumeration value="Full_VAT" />
          <xsd:enumeration value="Sales_Tax" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="crossReferenceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Vendor" />
          <xsd:enumeration value="Bar_Code" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="subtype">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Item_Inventory" />
          <xsd:enumeration value="Item_Service" />
          <xsd:enumeration value="Comment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Sales_Document_Line_Entity">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentType" type="tns:documentType_1" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCustomerNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type" type="tns:type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToInvoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToShip" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCostLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amountIncludingVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="grossWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitsPerParcel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitVolume" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="applToItemEntry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPriceGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workTypeCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recalculateInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyShippedNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippedNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityShipped" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="profitPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToCustomerNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchaseOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dropShipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatCalculationType" type="tns:vatCalculationType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transportMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="attachedToLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="exitPoint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionSpecification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxCategory" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatClauseCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippedNotInvoicedLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippedNotInvLcyNoVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reserve" type="tns:reserve_96" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blanketOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blanketOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBaseAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="systemCreatedEntry" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatDifference" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscAmountToInvoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatIdentifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerRefType" type="tns:icPartnerRefType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerReference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtLineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtInv" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtInclVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatBaseAmt" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatCalcType" type="tns:prepmtVatCalcType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatIdentifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtToDeduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtDeducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentLine" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmountInvInclVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmountInvLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatAmountInvLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatDifference" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatDiffToDeduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatDiffDeducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dimensionSetId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToAssembleToOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToAsmToOrderBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="atoWhseOutstandingQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="atoWhseOutstdQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobTaskNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobContractEntryNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deferralCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnsDeferralStartDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="variantCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="binCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyPerUnitOfMeasure" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planned" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToInvoiceBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToShipBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyShippedNotInvdBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyShippedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyInvoicedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="faPostingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="depreciationBookCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deprUntilFaPostingDate" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="duplicateInDepreciationBook" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="useDuplicationList" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="responsibilityCenter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outOfStockSubstitution" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="substitutionAvailable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="originallyOrderedNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="originallyOrderedVarCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCrossRef" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceType" type="tns:crossReferenceType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceTypeNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="itemCategoryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="nonstock" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchasingCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrderPurchaseNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrderPurchLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="whseOutstandingQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="whseOutstandingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="completelyShipped" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="requestedDeliveryDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promisedDeliveryDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outboundWhseHandlingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedDeliveryDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedShipmentDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAgentCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAgentServiceCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowItemChargeAssignment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToAssign" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyAssigned" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyToReceive" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyToReceiveBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyRcdNotInvd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retQtyRcdNotInvdBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnRcdNotInvd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnRcdNotInvdLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyReceived" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyReceivedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="applFromItemEntry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bomItemNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnReceiptNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnReceiptLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnReasonCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowLineDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerDiscGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="subtype" type="tns:subtype" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priceDescription" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sales_Document_Line_Entity_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Sales_Document_Line_Entity" type="tns:Sales_Document_Line_Entity" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="salesDocuments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentType" type="tns:documentType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCustomerNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToCustomerNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToName2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToContact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="yourReference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToName2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToContact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dueDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtDiscountDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyFactor" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPriceGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pricesIncludingVat" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerDiscGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="languageCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salespersonCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderClass" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberPrinted" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="onHold" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appliesToDocType" type="tns:appliesToDocType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appliesToDocNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balAccountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recalculateInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ship" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoice" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="printPostedDocuments" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amountIncludingVAT" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastShippingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastPostingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastPrepaymentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="premptCrMemoNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastPremtCrMemoNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatRegistrationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="combineShipments" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reasonCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="eu3PartyTrade" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transportMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCustomerName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCustomerName2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToContact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balAccountType" type="tns:balAccountType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="exitPoint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="correction" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="externalDocumentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionSpecification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAgentCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="packageTrackingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reserve" type="tns:reserve" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appliesToId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBaseDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="status" type="tns:status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscountCalculation" type="tns:invoiceDiscountCalculation" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscountValue" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sendIcDocument" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icStatus" type="tns:icStatus" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToIcPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToIcPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icDirection" type="tns:icDirection" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="compressPrepayment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentDueDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtCrMemoNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPostingDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPmtDiscountDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPaymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPaymentDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quoteNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quoteValidUntilDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quoteSentToCustomer" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quoteAccepted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quoteAcceptedDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobQueueStatus" type="tns:jobQueueStatus" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobQueueEntryId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="incomingDocumentEntryNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amountShippedNotInvoicedInclVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amountShippedNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dimensionSetId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentServiceSetId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="directDebitMandateId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfArchivedVersions" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docNumberOccurrence" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="campaignNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCustomerTemplateCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToContactNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToContactNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToCustomerTemplateCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="opportunityNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="responsibilityCenter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAdvice" type="tns:shippingAdvice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippedNotInvoiced" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="completelyShipped" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingFromWhseRef" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipped" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="requestedDeliveryDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promisedDeliveryDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outboundWhseHandlingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAgentServiceCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lateOrderShipping" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receive" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnReceiptNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnReceiptNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastReturnReceiptNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowLineDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="getShipmentUsed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="assignedUserId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workflowSalesDocumentLines" type="tns:Sales_Document_Line_Entity_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="salesDocuments_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="salesDocuments" type="tns:salesDocuments" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="salesDocuments_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="documentType" />
          <xsd:enumeration value="sellToCustomerNumber" />
          <xsd:enumeration value="number" />
          <xsd:enumeration value="billToCustomerNumber" />
          <xsd:enumeration value="billToName" />
          <xsd:enumeration value="billToName2" />
          <xsd:enumeration value="billToAddress" />
          <xsd:enumeration value="billToAddress2" />
          <xsd:enumeration value="billToCity" />
          <xsd:enumeration value="billToContact" />
          <xsd:enumeration value="yourReference" />
          <xsd:enumeration value="shipToCode" />
          <xsd:enumeration value="shipToName" />
          <xsd:enumeration value="shipToName2" />
          <xsd:enumeration value="shipToAddress" />
          <xsd:enumeration value="shipToAddress2" />
          <xsd:enumeration value="shipToCity" />
          <xsd:enumeration value="shipToContact" />
          <xsd:enumeration value="orderDate" />
          <xsd:enumeration value="postingDate" />
          <xsd:enumeration value="shipmentDate" />
          <xsd:enumeration value="postingDescription" />
          <xsd:enumeration value="paymentTermsCode" />
          <xsd:enumeration value="dueDate" />
          <xsd:enumeration value="paymentDiscountPercent" />
          <xsd:enumeration value="pmtDiscountDate" />
          <xsd:enumeration value="shipmentMethodCode" />
          <xsd:enumeration value="locationCode" />
          <xsd:enumeration value="shortcutDimension1Code" />
          <xsd:enumeration value="shortcutDimension2Code" />
          <xsd:enumeration value="customerPostingGroup" />
          <xsd:enumeration value="currencyCode" />
          <xsd:enumeration value="currencyFactor" />
          <xsd:enumeration value="customerPriceGroup" />
          <xsd:enumeration value="pricesIncludingVat" />
          <xsd:enumeration value="invoiceDiscCode" />
          <xsd:enumeration value="customerDiscGroup" />
          <xsd:enumeration value="languageCode" />
          <xsd:enumeration value="salespersonCode" />
          <xsd:enumeration value="orderClass" />
          <xsd:enumeration value="comment" />
          <xsd:enumeration value="numberPrinted" />
          <xsd:enumeration value="onHold" />
          <xsd:enumeration value="appliesToDocType" />
          <xsd:enumeration value="appliesToDocNumber" />
          <xsd:enumeration value="balAccountNumber" />
          <xsd:enumeration value="recalculateInvoiceDisc" />
          <xsd:enumeration value="ship" />
          <xsd:enumeration value="invoice" />
          <xsd:enumeration value="printPostedDocuments" />
          <xsd:enumeration value="amount" />
          <xsd:enumeration value="amountIncludingVAT" />
          <xsd:enumeration value="shippingNumber" />
          <xsd:enumeration value="postingNumber" />
          <xsd:enumeration value="lastShippingNumber" />
          <xsd:enumeration value="lastPostingNumber" />
          <xsd:enumeration value="prepaymentNumber" />
          <xsd:enumeration value="lastPrepaymentNumber" />
          <xsd:enumeration value="premptCrMemoNumber" />
          <xsd:enumeration value="lastPremtCrMemoNumber" />
          <xsd:enumeration value="vatRegistrationNumber" />
          <xsd:enumeration value="combineShipments" />
          <xsd:enumeration value="reasonCode" />
          <xsd:enumeration value="genBusPostingGroup" />
          <xsd:enumeration value="eu3PartyTrade" />
          <xsd:enumeration value="transactionType" />
          <xsd:enumeration value="transportMethod" />
          <xsd:enumeration value="vatCountryRegionCode" />
          <xsd:enumeration value="sellToCustomerName" />
          <xsd:enumeration value="sellToCustomerName2" />
          <xsd:enumeration value="sellToAddress" />
          <xsd:enumeration value="sellToAddress2" />
          <xsd:enumeration value="sellToCity" />
          <xsd:enumeration value="sellToContact" />
          <xsd:enumeration value="billToPostCode" />
          <xsd:enumeration value="billToCounty" />
          <xsd:enumeration value="billToCountryRegionCode" />
          <xsd:enumeration value="sellToPostCode" />
          <xsd:enumeration value="sellToCounty" />
          <xsd:enumeration value="sellToCountryRegionCode" />
          <xsd:enumeration value="shipToPostCode" />
          <xsd:enumeration value="shipToCounty" />
          <xsd:enumeration value="shipToCountryRegionCode" />
          <xsd:enumeration value="balAccountType" />
          <xsd:enumeration value="exitPoint" />
          <xsd:enumeration value="correction" />
          <xsd:enumeration value="documentDate" />
          <xsd:enumeration value="externalDocumentNumber" />
          <xsd:enumeration value="area" />
          <xsd:enumeration value="transactionSpecification" />
          <xsd:enumeration value="paymentMethodCode" />
          <xsd:enumeration value="shippingAgentCode" />
          <xsd:enumeration value="packageTrackingNumber" />
          <xsd:enumeration value="numberSeries" />
          <xsd:enumeration value="postingNumberSeries" />
          <xsd:enumeration value="shippingNumberSeries" />
          <xsd:enumeration value="taxAreaCode" />
          <xsd:enumeration value="taxLiable" />
          <xsd:enumeration value="vatBusPostingGroup" />
          <xsd:enumeration value="reserve" />
          <xsd:enumeration value="appliesToId" />
          <xsd:enumeration value="vatBaseDiscountPercent" />
          <xsd:enumeration value="status" />
          <xsd:enumeration value="invoiceDiscountCalculation" />
          <xsd:enumeration value="invoiceDiscountValue" />
          <xsd:enumeration value="sendIcDocument" />
          <xsd:enumeration value="icStatus" />
          <xsd:enumeration value="sellToIcPartnerCode" />
          <xsd:enumeration value="billToIcPartnerCode" />
          <xsd:enumeration value="icDirection" />
          <xsd:enumeration value="prepaymentPercent" />
          <xsd:enumeration value="prepaymentNumberSeries" />
          <xsd:enumeration value="compressPrepayment" />
          <xsd:enumeration value="prepaymentDueDate" />
          <xsd:enumeration value="prepmtCrMemoNumberSeries" />
          <xsd:enumeration value="prepmtPostingDescription" />
          <xsd:enumeration value="prepmtPmtDiscountDate" />
          <xsd:enumeration value="prepmtPaymentTermsCode" />
          <xsd:enumeration value="prepmtPaymentDiscountPercent" />
          <xsd:enumeration value="quoteNumber" />
          <xsd:enumeration value="quoteValidUntilDate" />
          <xsd:enumeration value="quoteSentToCustomer" />
          <xsd:enumeration value="quoteAccepted" />
          <xsd:enumeration value="quoteAcceptedDate" />
          <xsd:enumeration value="jobQueueStatus" />
          <xsd:enumeration value="jobQueueEntryId" />
          <xsd:enumeration value="incomingDocumentEntryNumber" />
          <xsd:enumeration value="amountShippedNotInvoicedInclVat" />
          <xsd:enumeration value="amountShippedNotInvoiced" />
          <xsd:enumeration value="dimensionSetId" />
          <xsd:enumeration value="paymentServiceSetId" />
          <xsd:enumeration value="directDebitMandateId" />
          <xsd:enumeration value="invoiceDiscountAmount" />
          <xsd:enumeration value="numberOfArchivedVersions" />
          <xsd:enumeration value="docNumberOccurrence" />
          <xsd:enumeration value="campaignNumber" />
          <xsd:enumeration value="sellToCustomerTemplateCode" />
          <xsd:enumeration value="sellToContactNumber" />
          <xsd:enumeration value="billToContactNumber" />
          <xsd:enumeration value="billToCustomerTemplateCode" />
          <xsd:enumeration value="opportunityNumber" />
          <xsd:enumeration value="responsibilityCenter" />
          <xsd:enumeration value="shippingAdvice" />
          <xsd:enumeration value="shippedNotInvoiced" />
          <xsd:enumeration value="completelyShipped" />
          <xsd:enumeration value="postingFromWhseRef" />
          <xsd:enumeration value="locationFilter" />
          <xsd:enumeration value="shipped" />
          <xsd:enumeration value="requestedDeliveryDate" />
          <xsd:enumeration value="promisedDeliveryDate" />
          <xsd:enumeration value="shippingTime" />
          <xsd:enumeration value="outboundWhseHandlingTime" />
          <xsd:enumeration value="shippingAgentServiceCode" />
          <xsd:enumeration value="lateOrderShipping" />
          <xsd:enumeration value="receive" />
          <xsd:enumeration value="returnReceiptNumber" />
          <xsd:enumeration value="returnReceiptNumberSeries" />
          <xsd:enumeration value="lastReturnReceiptNumber" />
          <xsd:enumeration value="allowLineDisc" />
          <xsd:enumeration value="getShipmentUsed" />
          <xsd:enumeration value="id" />
          <xsd:enumeration value="assignedUserId" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="salesDocuments_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:salesDocuments_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="documentType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="number" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="salesDocuments" type="tns:salesDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="salesDocuments" type="tns:salesDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:salesDocuments_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:salesDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments" type="tns:salesDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments" type="tns:salesDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments_List" type="tns:salesDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments_List" type="tns:salesDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments" type="tns:salesDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments" type="tns:salesDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments_List" type="tns:salesDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="salesDocuments_List" type="tns:salesDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_workflowSalesDocumentLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowSalesDocumentLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_workflowSalesDocumentLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_workflowSalesDocumentLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_workflowSalesDocumentLines">
    <part name="parameters" element="tns:Delete_workflowSalesDocumentLines" />
  </message>
  <message name="Delete_workflowSalesDocumentLines_Result">
    <part name="parameters" element="tns:Delete_workflowSalesDocumentLines_Result" />
  </message>
  <portType name="salesDocuments_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_workflowSalesDocumentLines">
      <input name="Delete_workflowSalesDocumentLines" message="tns:Delete_workflowSalesDocumentLines" />
      <output name="Delete_workflowSalesDocumentLines_Result" message="tns:Delete_workflowSalesDocumentLines_Result" />
    </operation>
  </portType>
  <binding name="salesDocuments_Binding" type="tns:salesDocuments_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_workflowSalesDocumentLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesdocuments:Delete_workflowSalesDocumentLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_workflowSalesDocumentLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_workflowSalesDocumentLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="salesDocuments_Service">
    <port name="salesDocuments_Port" binding="tns:salesDocuments_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/salesDocuments" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>