Web References/WebService/workflowItems.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/workflowitems" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowitems" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowitems" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Inventory" />
          <xsd:enumeration value="Service" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="priceProfitCalculation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Profit_x003D_Price_Cost" />
          <xsd:enumeration value="Price_x003D_Cost_x002B_Profit" />
          <xsd:enumeration value="No_Relationship" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="costingMethod">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="FIFO" />
          <xsd:enumeration value="LIFO" />
          <xsd:enumeration value="Specific" />
          <xsd:enumeration value="Average" />
          <xsd:enumeration value="Standard" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="reserve">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockoutWarning">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Default" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="preventNegativeInventory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Default" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="assemblyPolicy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Assemble_to_Stock" />
          <xsd:enumeration value="Assemble_to_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="flushingMethod">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Manual" />
          <xsd:enumeration value="Forward" />
          <xsd:enumeration value="Backward" />
          <xsd:enumeration value="Pick__x002B__Forward" />
          <xsd:enumeration value="Pick__x002B__Backward" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="replenishmentSystem">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Purchase" />
          <xsd:enumeration value="Prod_Order" />
          <xsd:enumeration value="Assembly" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="reorderingPolicy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Fixed_Reorder_Qty" />
          <xsd:enumeration value="Maximum_Qty" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Lot_for_Lot" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="manufacturingPolicy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Make_to_Stock" />
          <xsd:enumeration value="Make_to_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="orderTrackingPolicy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Tracking_Only" />
          <xsd:enumeration value="Tracking__x0026__Action_Msg" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="workflowItems">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="searchDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="assemblyBom" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="baseUnitOfMeasure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priceUnitConversion" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type" type="tns:type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventoryPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shelfNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="itemDiscGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statisticsGroup" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="commissionGroup" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priceProfitCalculation" type="tns:priceProfitCalculation" />
          <xsd:element minOccurs="0" maxOccurs="1" name="profitPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="costingMethod" type="tns:costingMethod" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="standardCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastDirectCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="indirectCostPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="costIsAdjusted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowOnlineAdjustment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorItemNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leadTimeCalculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reorderPoint" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="maximumInventory" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reorderQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="alternativeItemNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitListPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dutyDuePercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dutyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="grossWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitsPerParcel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitVolume" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="durability" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="freightType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tariffNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dutyUnitConversion" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="countryRegionPurchasedCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budgetQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budgetedAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budgetProfit" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blocked" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="costIsPostedToGL" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blockReason" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastDatetimeModified" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastDateModified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastTimeModified" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dateFilter" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension1Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension2Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventory" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netInvoicedQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netChange" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchasesQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="positiveAdjmtQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="negativeAdjmtQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchasesLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="positiveAdjmtLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="negativeAdjmtLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cogsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnPurchOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnSalesOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priceIncludesVat" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dropShipmentFilter" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGrPrice" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transferredQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transferredLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="countryRegionOfOriginCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="automaticExtTexts" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reserve" type="tns:reserve" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQtyOnInventory" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQtyOnPurchOrders" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQtyOnSalesOrders" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnOutboundTransfer" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnInboundTransfer" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnSalesReturns" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnPurchReturns" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="stockoutWarning" type="tns:stockoutWarning" />
          <xsd:element minOccurs="0" maxOccurs="1" name="preventNegativeInventory" type="tns:preventNegativeInventory" />
          <xsd:element minOccurs="0" maxOccurs="1" name="costOfOpenProductionOrders" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="applicationWkshUserId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="assemblyPolicy" type="tns:assemblyPolicy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnAssemblyOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnAsmComp" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnAssemblyOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnAsmComponent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnJobOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnJobOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="gtin" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="defaultDeferralTemplateCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lowLevelCode" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lotSize" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="serialNos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastUnitCostCalcDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rolledUpMaterialCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rolledUpCapacityCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="scrapPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventoryValueZero" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="discreteOrderQuantity" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="minimumOrderQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="maximumOrderQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="safetyStockQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderMultiple" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="safetyLeadTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="flushingMethod" type="tns:flushingMethod" />
          <xsd:element minOccurs="0" maxOccurs="1" name="replenishmentSystem" type="tns:replenishmentSystem" />
          <xsd:element minOccurs="0" maxOccurs="1" name="scheduledReceiptQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="scheduledNeedQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="roundingPrecision" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="binFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="variantFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesUnitOfMeasure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchUnitOfMeasure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="timeBucket" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQtyOnProdOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnProdOrderComp" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnReqLine" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reorderingPolicy" type="tns:reorderingPolicy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="includeInventory" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="manufacturingPolicy" type="tns:manufacturingPolicy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reschedulingPeriod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lotAccumulationPeriod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dampenerPeriod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dampenerQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="overflowLevel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningTransferShipQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningWorksheetQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="stockkeepingUnitExists" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="manufacturerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="itemCategoryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="createdFromNonstockItem" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="substitutesExist" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyInTransit" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transOrdReceiptQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transOrdShipmentQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyAssignedToShip" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyPicked" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="serviceItemGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnServiceOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resQtyOnServiceOrders" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="itemTrackingCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lotNos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="expirationCalculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lotNumberFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="serialNumberFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnPurchReturn" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnSalesReturn" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfSubstitutes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="warehouseClassCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialEquipmentCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="putAwayTemplateCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="putAwayUnitOfMeasureCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="physInvtCountingPeriodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastCountingPeriodUpdate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastPhysInvtDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="useCrossDocking" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="nextCountingStartDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="nextCountingEndDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="identifierCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasureId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxGroupId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="routingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="productionBomNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="singleLevelMaterialCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="singleLevelCapacityCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="singleLevelSubcontrdCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="singleLevelCapOvhdCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="singleLevelMfgOvhdCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="overheadRate" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rolledUpSubcontractedCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rolledUpMfgOvhdCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rolledUpCapOverheadCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningIssuesQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningReceiptQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedOrderReceiptQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fpOrderReceiptQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="relOrderReceiptQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningReleaseQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedOrderReleaseQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchReqReceiptQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchReqReleaseQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderTrackingPolicy" type="tns:orderTrackingPolicy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prodForecastQuantityBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="productionForecastName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="componentForecast" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnProdOrder" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyOnComponentLines" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="critical" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="commonItemNumber" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="workflowItems_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="workflowItems" type="tns:workflowItems" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="workflowItems_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="number" />
          <xsd:enumeration value="number2" />
          <xsd:enumeration value="description" />
          <xsd:enumeration value="searchDescription" />
          <xsd:enumeration value="description2" />
          <xsd:enumeration value="assemblyBom" />
          <xsd:enumeration value="baseUnitOfMeasure" />
          <xsd:enumeration value="priceUnitConversion" />
          <xsd:enumeration value="type" />
          <xsd:enumeration value="inventoryPostingGroup" />
          <xsd:enumeration value="shelfNumber" />
          <xsd:enumeration value="itemDiscGroup" />
          <xsd:enumeration value="allowInvoiceDisc" />
          <xsd:enumeration value="statisticsGroup" />
          <xsd:enumeration value="commissionGroup" />
          <xsd:enumeration value="unitPrice" />
          <xsd:enumeration value="priceProfitCalculation" />
          <xsd:enumeration value="profitPercent" />
          <xsd:enumeration value="costingMethod" />
          <xsd:enumeration value="unitCost" />
          <xsd:enumeration value="standardCost" />
          <xsd:enumeration value="lastDirectCost" />
          <xsd:enumeration value="indirectCostPercent" />
          <xsd:enumeration value="costIsAdjusted" />
          <xsd:enumeration value="allowOnlineAdjustment" />
          <xsd:enumeration value="vendorNumber" />
          <xsd:enumeration value="vendorItemNumber" />
          <xsd:enumeration value="leadTimeCalculation" />
          <xsd:enumeration value="reorderPoint" />
          <xsd:enumeration value="maximumInventory" />
          <xsd:enumeration value="reorderQuantity" />
          <xsd:enumeration value="alternativeItemNumber" />
          <xsd:enumeration value="unitListPrice" />
          <xsd:enumeration value="dutyDuePercent" />
          <xsd:enumeration value="dutyCode" />
          <xsd:enumeration value="grossWeight" />
          <xsd:enumeration value="netWeight" />
          <xsd:enumeration value="unitsPerParcel" />
          <xsd:enumeration value="unitVolume" />
          <xsd:enumeration value="durability" />
          <xsd:enumeration value="freightType" />
          <xsd:enumeration value="tariffNumber" />
          <xsd:enumeration value="dutyUnitConversion" />
          <xsd:enumeration value="countryRegionPurchasedCode" />
          <xsd:enumeration value="budgetQuantity" />
          <xsd:enumeration value="budgetedAmount" />
          <xsd:enumeration value="budgetProfit" />
          <xsd:enumeration value="comment" />
          <xsd:enumeration value="blocked" />
          <xsd:enumeration value="costIsPostedToGL" />
          <xsd:enumeration value="blockReason" />
          <xsd:enumeration value="lastDatetimeModified" />
          <xsd:enumeration value="lastDateModified" />
          <xsd:enumeration value="lastTimeModified" />
          <xsd:enumeration value="dateFilter" />
          <xsd:enumeration value="globalDimension1Filter" />
          <xsd:enumeration value="globalDimension2Filter" />
          <xsd:enumeration value="locationFilter" />
          <xsd:enumeration value="inventory" />
          <xsd:enumeration value="netInvoicedQty" />
          <xsd:enumeration value="netChange" />
          <xsd:enumeration value="purchasesQty" />
          <xsd:enumeration value="salesQty" />
          <xsd:enumeration value="positiveAdjmtQty" />
          <xsd:enumeration value="negativeAdjmtQty" />
          <xsd:enumeration value="purchasesLcy" />
          <xsd:enumeration value="salesLcy" />
          <xsd:enumeration value="positiveAdjmtLcy" />
          <xsd:enumeration value="negativeAdjmtLcy" />
          <xsd:enumeration value="cogsLcy" />
          <xsd:enumeration value="qtyOnPurchOrder" />
          <xsd:enumeration value="qtyOnSalesOrder" />
          <xsd:enumeration value="priceIncludesVat" />
          <xsd:enumeration value="dropShipmentFilter" />
          <xsd:enumeration value="vatBusPostingGrPrice" />
          <xsd:enumeration value="genProdPostingGroup" />
          <xsd:enumeration value="transferredQty" />
          <xsd:enumeration value="transferredLcy" />
          <xsd:enumeration value="countryRegionOfOriginCode" />
          <xsd:enumeration value="automaticExtTexts" />
          <xsd:enumeration value="numberSeries" />
          <xsd:enumeration value="taxGroupCode" />
          <xsd:enumeration value="vatProdPostingGroup" />
          <xsd:enumeration value="reserve" />
          <xsd:enumeration value="reservedQtyOnInventory" />
          <xsd:enumeration value="reservedQtyOnPurchOrders" />
          <xsd:enumeration value="reservedQtyOnSalesOrders" />
          <xsd:enumeration value="globalDimension1Code" />
          <xsd:enumeration value="globalDimension2Code" />
          <xsd:enumeration value="resQtyOnOutboundTransfer" />
          <xsd:enumeration value="resQtyOnInboundTransfer" />
          <xsd:enumeration value="resQtyOnSalesReturns" />
          <xsd:enumeration value="resQtyOnPurchReturns" />
          <xsd:enumeration value="stockoutWarning" />
          <xsd:enumeration value="preventNegativeInventory" />
          <xsd:enumeration value="costOfOpenProductionOrders" />
          <xsd:enumeration value="applicationWkshUserId" />
          <xsd:enumeration value="assemblyPolicy" />
          <xsd:enumeration value="resQtyOnAssemblyOrder" />
          <xsd:enumeration value="resQtyOnAsmComp" />
          <xsd:enumeration value="qtyOnAssemblyOrder" />
          <xsd:enumeration value="qtyOnAsmComponent" />
          <xsd:enumeration value="qtyOnJobOrder" />
          <xsd:enumeration value="resQtyOnJobOrder" />
          <xsd:enumeration value="gtin" />
          <xsd:enumeration value="defaultDeferralTemplateCode" />
          <xsd:enumeration value="lowLevelCode" />
          <xsd:enumeration value="lotSize" />
          <xsd:enumeration value="serialNos" />
          <xsd:enumeration value="lastUnitCostCalcDate" />
          <xsd:enumeration value="rolledUpMaterialCost" />
          <xsd:enumeration value="rolledUpCapacityCost" />
          <xsd:enumeration value="scrapPercent" />
          <xsd:enumeration value="inventoryValueZero" />
          <xsd:enumeration value="discreteOrderQuantity" />
          <xsd:enumeration value="minimumOrderQuantity" />
          <xsd:enumeration value="maximumOrderQuantity" />
          <xsd:enumeration value="safetyStockQuantity" />
          <xsd:enumeration value="orderMultiple" />
          <xsd:enumeration value="safetyLeadTime" />
          <xsd:enumeration value="flushingMethod" />
          <xsd:enumeration value="replenishmentSystem" />
          <xsd:enumeration value="scheduledReceiptQty" />
          <xsd:enumeration value="scheduledNeedQty" />
          <xsd:enumeration value="roundingPrecision" />
          <xsd:enumeration value="binFilter" />
          <xsd:enumeration value="variantFilter" />
          <xsd:enumeration value="salesUnitOfMeasure" />
          <xsd:enumeration value="purchUnitOfMeasure" />
          <xsd:enumeration value="timeBucket" />
          <xsd:enumeration value="reservedQtyOnProdOrder" />
          <xsd:enumeration value="resQtyOnProdOrderComp" />
          <xsd:enumeration value="resQtyOnReqLine" />
          <xsd:enumeration value="reorderingPolicy" />
          <xsd:enumeration value="includeInventory" />
          <xsd:enumeration value="manufacturingPolicy" />
          <xsd:enumeration value="reschedulingPeriod" />
          <xsd:enumeration value="lotAccumulationPeriod" />
          <xsd:enumeration value="dampenerPeriod" />
          <xsd:enumeration value="dampenerQuantity" />
          <xsd:enumeration value="overflowLevel" />
          <xsd:enumeration value="planningTransferShipQty" />
          <xsd:enumeration value="planningWorksheetQty" />
          <xsd:enumeration value="stockkeepingUnitExists" />
          <xsd:enumeration value="manufacturerCode" />
          <xsd:enumeration value="itemCategoryCode" />
          <xsd:enumeration value="createdFromNonstockItem" />
          <xsd:enumeration value="productGroupCode" />
          <xsd:enumeration value="substitutesExist" />
          <xsd:enumeration value="qtyInTransit" />
          <xsd:enumeration value="transOrdReceiptQty" />
          <xsd:enumeration value="transOrdShipmentQty" />
          <xsd:enumeration value="qtyAssignedToShip" />
          <xsd:enumeration value="qtyPicked" />
          <xsd:enumeration value="serviceItemGroup" />
          <xsd:enumeration value="qtyOnServiceOrder" />
          <xsd:enumeration value="resQtyOnServiceOrders" />
          <xsd:enumeration value="itemTrackingCode" />
          <xsd:enumeration value="lotNos" />
          <xsd:enumeration value="expirationCalculation" />
          <xsd:enumeration value="lotNumberFilter" />
          <xsd:enumeration value="serialNumberFilter" />
          <xsd:enumeration value="qtyOnPurchReturn" />
          <xsd:enumeration value="qtyOnSalesReturn" />
          <xsd:enumeration value="numberOfSubstitutes" />
          <xsd:enumeration value="warehouseClassCode" />
          <xsd:enumeration value="specialEquipmentCode" />
          <xsd:enumeration value="putAwayTemplateCode" />
          <xsd:enumeration value="putAwayUnitOfMeasureCode" />
          <xsd:enumeration value="physInvtCountingPeriodCode" />
          <xsd:enumeration value="lastCountingPeriodUpdate" />
          <xsd:enumeration value="lastPhysInvtDate" />
          <xsd:enumeration value="useCrossDocking" />
          <xsd:enumeration value="nextCountingStartDate" />
          <xsd:enumeration value="nextCountingEndDate" />
          <xsd:enumeration value="identifierCode" />
          <xsd:enumeration value="id" />
          <xsd:enumeration value="unitOfMeasureId" />
          <xsd:enumeration value="taxGroupId" />
          <xsd:enumeration value="routingNumber" />
          <xsd:enumeration value="productionBomNumber" />
          <xsd:enumeration value="singleLevelMaterialCost" />
          <xsd:enumeration value="singleLevelCapacityCost" />
          <xsd:enumeration value="singleLevelSubcontrdCost" />
          <xsd:enumeration value="singleLevelCapOvhdCost" />
          <xsd:enumeration value="singleLevelMfgOvhdCost" />
          <xsd:enumeration value="overheadRate" />
          <xsd:enumeration value="rolledUpSubcontractedCost" />
          <xsd:enumeration value="rolledUpMfgOvhdCost" />
          <xsd:enumeration value="rolledUpCapOverheadCost" />
          <xsd:enumeration value="planningIssuesQty" />
          <xsd:enumeration value="planningReceiptQty" />
          <xsd:enumeration value="plannedOrderReceiptQty" />
          <xsd:enumeration value="fpOrderReceiptQty" />
          <xsd:enumeration value="relOrderReceiptQty" />
          <xsd:enumeration value="planningReleaseQty" />
          <xsd:enumeration value="plannedOrderReleaseQty" />
          <xsd:enumeration value="purchReqReceiptQty" />
          <xsd:enumeration value="purchReqReleaseQty" />
          <xsd:enumeration value="orderTrackingPolicy" />
          <xsd:enumeration value="prodForecastQuantityBase" />
          <xsd:enumeration value="productionForecastName" />
          <xsd:enumeration value="componentForecast" />
          <xsd:enumeration value="qtyOnProdOrder" />
          <xsd:enumeration value="qtyOnComponentLines" />
          <xsd:enumeration value="critical" />
          <xsd:enumeration value="commonItemNumber" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="workflowItems_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:workflowItems_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="number" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowItems" type="tns:workflowItems" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowItems" type="tns:workflowItems" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:workflowItems_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:workflowItems_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems" type="tns:workflowItems" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems" type="tns:workflowItems" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems_List" type="tns:workflowItems_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems_List" type="tns:workflowItems_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems" type="tns:workflowItems" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems" type="tns:workflowItems" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems_List" type="tns:workflowItems_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowItems_List" type="tns:workflowItems_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="workflowItems_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="workflowItems_Binding" type="tns:workflowItems_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowitems:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="workflowItems_Service">
    <port name="workflowItems_Port" binding="tns:workflowItems_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowItems" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>