Web References/WebService/workflowVendors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/workflowvendors" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowvendors" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowvendors" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="blocked">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Payment" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="applicationMethod">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Manual" />
          <xsd:enumeration value="Apply_to_Oldest" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="partnerType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Company" />
          <xsd:enumeration value="Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="workflowVendors">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="searchName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="address2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="telexNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ourAccountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="territoryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budgetedAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="languageCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statisticsGroup" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finChargeTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchaserCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAgentCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="countryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blocked" type="tns:blocked" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToVendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastModifiedDateTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastDateModified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dateFilter" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension1Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension2Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balance" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balanceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netChange" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netChangeLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchasesLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtDiscountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balanceDue" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balanceDueLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payments" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crMemoAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="financeChargeMemoAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crMemoAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finChargeMemoAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingOrders" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amtRcdNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="applicationMethod" type="tns:applicationMethod" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pricesIncludingVat" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="faxNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="telexAnswerBack" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatRegistrationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="gln" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="county" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debitAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creditAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debitAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creditAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="eMail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="homePage" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reminderAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reminderAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingOrdersLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amtRcdNotInvoicedLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blockPaymentTolerance" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtDiscToleranceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtToleranceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="refunds" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="refundsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="otherAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="otherAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingInvoices" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingInvoicesLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfArchivedDoc" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromNumberOfArchivedDoc" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="partnerType" type="tns:partnerType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creditorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="preferredBankAccountCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cashFlowPaymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="primaryContactNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="responsibilityCenter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leadTimeCalculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdReceipts" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdReturnShipments" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdCreditMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfReturnOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfCreditMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfPstdReceipts" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfPstdInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfPstdReturnS" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfPstdCrMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfQuotes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfBlanketOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfReturnOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfCreditMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfOrderAddresses" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfQuotes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToNumberOfBlanketOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfIncomingDocuments" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="baseCalendarCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentSendingProfile" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="validateEuVatRegNumber" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentTermsId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentMethodId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="workflowVendors_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="workflowVendors" type="tns:workflowVendors" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="workflowVendors_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="number" />
          <xsd:enumeration value="name" />
          <xsd:enumeration value="searchName" />
          <xsd:enumeration value="name2" />
          <xsd:enumeration value="address" />
          <xsd:enumeration value="address2" />
          <xsd:enumeration value="city" />
          <xsd:enumeration value="contact" />
          <xsd:enumeration value="phoneNumber" />
          <xsd:enumeration value="telexNumber" />
          <xsd:enumeration value="ourAccountNumber" />
          <xsd:enumeration value="territoryCode" />
          <xsd:enumeration value="globalDimension1Code" />
          <xsd:enumeration value="globalDimension2Code" />
          <xsd:enumeration value="budgetedAmount" />
          <xsd:enumeration value="vendorPostingGroup" />
          <xsd:enumeration value="currencyCode" />
          <xsd:enumeration value="languageCode" />
          <xsd:enumeration value="statisticsGroup" />
          <xsd:enumeration value="paymentTermsCode" />
          <xsd:enumeration value="finChargeTermsCode" />
          <xsd:enumeration value="purchaserCode" />
          <xsd:enumeration value="shipmentMethodCode" />
          <xsd:enumeration value="shippingAgentCode" />
          <xsd:enumeration value="invoiceDiscCode" />
          <xsd:enumeration value="countryRegionCode" />
          <xsd:enumeration value="comment" />
          <xsd:enumeration value="blocked" />
          <xsd:enumeration value="payToVendorNumber" />
          <xsd:enumeration value="priority" />
          <xsd:enumeration value="paymentMethodCode" />
          <xsd:enumeration value="lastModifiedDateTime" />
          <xsd:enumeration value="lastDateModified" />
          <xsd:enumeration value="dateFilter" />
          <xsd:enumeration value="globalDimension1Filter" />
          <xsd:enumeration value="globalDimension2Filter" />
          <xsd:enumeration value="balance" />
          <xsd:enumeration value="balanceLcy" />
          <xsd:enumeration value="netChange" />
          <xsd:enumeration value="netChangeLcy" />
          <xsd:enumeration value="purchasesLcy" />
          <xsd:enumeration value="invDiscountsLcy" />
          <xsd:enumeration value="pmtDiscountsLcy" />
          <xsd:enumeration value="balanceDue" />
          <xsd:enumeration value="balanceDueLcy" />
          <xsd:enumeration value="payments" />
          <xsd:enumeration value="invoiceAmounts" />
          <xsd:enumeration value="crMemoAmounts" />
          <xsd:enumeration value="financeChargeMemoAmounts" />
          <xsd:enumeration value="paymentsLcy" />
          <xsd:enumeration value="invAmountsLcy" />
          <xsd:enumeration value="crMemoAmountsLcy" />
          <xsd:enumeration value="finChargeMemoAmountsLcy" />
          <xsd:enumeration value="outstandingOrders" />
          <xsd:enumeration value="amtRcdNotInvoiced" />
          <xsd:enumeration value="applicationMethod" />
          <xsd:enumeration value="pricesIncludingVat" />
          <xsd:enumeration value="faxNumber" />
          <xsd:enumeration value="telexAnswerBack" />
          <xsd:enumeration value="vatRegistrationNumber" />
          <xsd:enumeration value="genBusPostingGroup" />
          <xsd:enumeration value="gln" />
          <xsd:enumeration value="postCode" />
          <xsd:enumeration value="county" />
          <xsd:enumeration value="debitAmount" />
          <xsd:enumeration value="creditAmount" />
          <xsd:enumeration value="debitAmountLcy" />
          <xsd:enumeration value="creditAmountLcy" />
          <xsd:enumeration value="eMail" />
          <xsd:enumeration value="homePage" />
          <xsd:enumeration value="reminderAmounts" />
          <xsd:enumeration value="reminderAmountsLcy" />
          <xsd:enumeration value="numberSeries" />
          <xsd:enumeration value="taxAreaCode" />
          <xsd:enumeration value="taxLiable" />
          <xsd:enumeration value="vatBusPostingGroup" />
          <xsd:enumeration value="currencyFilter" />
          <xsd:enumeration value="outstandingOrdersLcy" />
          <xsd:enumeration value="amtRcdNotInvoicedLcy" />
          <xsd:enumeration value="blockPaymentTolerance" />
          <xsd:enumeration value="pmtDiscToleranceLcy" />
          <xsd:enumeration value="pmtToleranceLcy" />
          <xsd:enumeration value="icPartnerCode" />
          <xsd:enumeration value="refunds" />
          <xsd:enumeration value="refundsLcy" />
          <xsd:enumeration value="otherAmounts" />
          <xsd:enumeration value="otherAmountsLcy" />
          <xsd:enumeration value="prepaymentPercent" />
          <xsd:enumeration value="outstandingInvoices" />
          <xsd:enumeration value="outstandingInvoicesLcy" />
          <xsd:enumeration value="payToNumberOfArchivedDoc" />
          <xsd:enumeration value="buyFromNumberOfArchivedDoc" />
          <xsd:enumeration value="partnerType" />
          <xsd:enumeration value="creditorNumber" />
          <xsd:enumeration value="preferredBankAccountCode" />
          <xsd:enumeration value="cashFlowPaymentTermsCode" />
          <xsd:enumeration value="primaryContactNumber" />
          <xsd:enumeration value="responsibilityCenter" />
          <xsd:enumeration value="locationCode" />
          <xsd:enumeration value="leadTimeCalculation" />
          <xsd:enumeration value="numberOfPstdReceipts" />
          <xsd:enumeration value="numberOfPstdInvoices" />
          <xsd:enumeration value="numberOfPstdReturnShipments" />
          <xsd:enumeration value="numberOfPstdCreditMemos" />
          <xsd:enumeration value="payToNumberOfOrders" />
          <xsd:enumeration value="payToNumberOfInvoices" />
          <xsd:enumeration value="payToNumberOfReturnOrders" />
          <xsd:enumeration value="payToNumberOfCreditMemos" />
          <xsd:enumeration value="payToNumberOfPstdReceipts" />
          <xsd:enumeration value="payToNumberOfPstdInvoices" />
          <xsd:enumeration value="payToNumberOfPstdReturnS" />
          <xsd:enumeration value="payToNumberOfPstdCrMemos" />
          <xsd:enumeration value="numberOfQuotes" />
          <xsd:enumeration value="numberOfBlanketOrders" />
          <xsd:enumeration value="numberOfOrders" />
          <xsd:enumeration value="numberOfInvoices" />
          <xsd:enumeration value="numberOfReturnOrders" />
          <xsd:enumeration value="numberOfCreditMemos" />
          <xsd:enumeration value="numberOfOrderAddresses" />
          <xsd:enumeration value="payToNumberOfQuotes" />
          <xsd:enumeration value="payToNumberOfBlanketOrders" />
          <xsd:enumeration value="numberOfIncomingDocuments" />
          <xsd:enumeration value="baseCalendarCode" />
          <xsd:enumeration value="documentSendingProfile" />
          <xsd:enumeration value="validateEuVatRegNumber" />
          <xsd:enumeration value="id" />
          <xsd:enumeration value="currencyId" />
          <xsd:enumeration value="paymentTermsId" />
          <xsd:enumeration value="paymentMethodId" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="workflowVendors_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:workflowVendors_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="number" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowVendors" type="tns:workflowVendors" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowVendors" type="tns:workflowVendors" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:workflowVendors_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:workflowVendors_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors" type="tns:workflowVendors" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors" type="tns:workflowVendors" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors_List" type="tns:workflowVendors_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors_List" type="tns:workflowVendors_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors" type="tns:workflowVendors" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors" type="tns:workflowVendors" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors_List" type="tns:workflowVendors_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowVendors_List" type="tns:workflowVendors_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="workflowVendors_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="workflowVendors_Binding" type="tns:workflowVendors_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowvendors:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="workflowVendors_Service">
    <port name="workflowVendors_Port" binding="tns:workflowVendors_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowVendors" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>