Web References/WebService/workflowCustomers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/workflowcustomers" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowcustomers" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowcustomers" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="blocked">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Ship" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="applicationMethod">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Manual" />
          <xsd:enumeration value="Apply_to_Oldest" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="reserve">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="partnerType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Company" />
          <xsd:enumeration value="Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="contactType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Company" />
          <xsd:enumeration value="Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="shippingAdvice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Partial" />
          <xsd:enumeration value="Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="copySellToAddrToQteFrom">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Company" />
          <xsd:enumeration value="Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="workflowCustomers">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="searchName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="address2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="telexNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentSendingProfile" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ourAccountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="territoryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="chainName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budgetedAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creditLimitLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPriceGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="languageCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statisticsGroup" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finChargeTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salespersonCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAgentCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="placeOfExport" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerDiscGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="countryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="collectionMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blocked" type="tns:blocked" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceCopies" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastStatementNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="printStatements" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToCustomerNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastModifiedDateTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastDateModified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dateFilter" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension1Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDimension2Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balance" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balanceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netChange" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netChangeLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="profitLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtDiscountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balanceDue" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balanceDueLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payments" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crMemoAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="financeChargeMemoAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crMemoAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finChargeMemoAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingOrders" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippedNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="applicationMethod" type="tns:applicationMethod" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pricesIncludingVat" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="faxNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="telexAnswerBack" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatRegistrationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="combineShipments" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="gln" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="county" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debitAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creditAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debitAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creditAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="eMail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="homePage" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reminderTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reminderAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reminderAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingOrdersLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippedNotInvoicedLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reserve" type="tns:reserve" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blockPaymentTolerance" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtDiscToleranceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtToleranceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="refunds" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="refundsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="otherAmounts" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="otherAmountsLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingInvoicesLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingInvoices" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfArchivedDoc" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToNumberOfArchivedDoc" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="partnerType" type="tns:partnerType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="preferredBankAccountCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cashFlowPaymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="primaryContactNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contactType" type="tns:contactType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="responsibilityCenter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAdvice" type="tns:shippingAdvice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingAgentServiceCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="serviceZoneCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contractGainLossAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingServOrdersLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="servShippedNotInvoicedLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingServInvoicesLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowLineDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfQuotes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfBlanketOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfReturnOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfCreditMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdShipments" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdReturnReceipts" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfPstdCreditMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfShipToAddresses" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfQuotes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfBlanketOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfReturnOrders" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfCreditMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfPstdShipments" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfPstdInvoices" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfPstdReturnR" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billToNumberOfPstdCrMemos" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="baseCalendarCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="copySellToAddrToQteFrom" type="tns:copySellToAddrToQteFrom" />
          <xsd:element minOccurs="0" maxOccurs="1" name="validateEuVatRegNumber" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentTermsId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentMethodId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentMethodId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaDisplayName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="contactId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="workflowCustomers_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="workflowCustomers" type="tns:workflowCustomers" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="workflowCustomers_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="number" />
          <xsd:enumeration value="name" />
          <xsd:enumeration value="searchName" />
          <xsd:enumeration value="name2" />
          <xsd:enumeration value="address" />
          <xsd:enumeration value="address2" />
          <xsd:enumeration value="city" />
          <xsd:enumeration value="contact" />
          <xsd:enumeration value="phoneNumber" />
          <xsd:enumeration value="telexNumber" />
          <xsd:enumeration value="documentSendingProfile" />
          <xsd:enumeration value="ourAccountNumber" />
          <xsd:enumeration value="territoryCode" />
          <xsd:enumeration value="globalDimension1Code" />
          <xsd:enumeration value="globalDimension2Code" />
          <xsd:enumeration value="chainName" />
          <xsd:enumeration value="budgetedAmount" />
          <xsd:enumeration value="creditLimitLcy" />
          <xsd:enumeration value="customerPostingGroup" />
          <xsd:enumeration value="currencyCode" />
          <xsd:enumeration value="customerPriceGroup" />
          <xsd:enumeration value="languageCode" />
          <xsd:enumeration value="statisticsGroup" />
          <xsd:enumeration value="paymentTermsCode" />
          <xsd:enumeration value="finChargeTermsCode" />
          <xsd:enumeration value="salespersonCode" />
          <xsd:enumeration value="shipmentMethodCode" />
          <xsd:enumeration value="shippingAgentCode" />
          <xsd:enumeration value="placeOfExport" />
          <xsd:enumeration value="invoiceDiscCode" />
          <xsd:enumeration value="customerDiscGroup" />
          <xsd:enumeration value="countryRegionCode" />
          <xsd:enumeration value="collectionMethod" />
          <xsd:enumeration value="amount" />
          <xsd:enumeration value="comment" />
          <xsd:enumeration value="blocked" />
          <xsd:enumeration value="invoiceCopies" />
          <xsd:enumeration value="lastStatementNumber" />
          <xsd:enumeration value="printStatements" />
          <xsd:enumeration value="billToCustomerNumber" />
          <xsd:enumeration value="priority" />
          <xsd:enumeration value="paymentMethodCode" />
          <xsd:enumeration value="lastModifiedDateTime" />
          <xsd:enumeration value="lastDateModified" />
          <xsd:enumeration value="dateFilter" />
          <xsd:enumeration value="globalDimension1Filter" />
          <xsd:enumeration value="globalDimension2Filter" />
          <xsd:enumeration value="balance" />
          <xsd:enumeration value="balanceLcy" />
          <xsd:enumeration value="netChange" />
          <xsd:enumeration value="netChangeLcy" />
          <xsd:enumeration value="salesLcy" />
          <xsd:enumeration value="profitLcy" />
          <xsd:enumeration value="invDiscountsLcy" />
          <xsd:enumeration value="pmtDiscountsLcy" />
          <xsd:enumeration value="balanceDue" />
          <xsd:enumeration value="balanceDueLcy" />
          <xsd:enumeration value="payments" />
          <xsd:enumeration value="invoiceAmounts" />
          <xsd:enumeration value="crMemoAmounts" />
          <xsd:enumeration value="financeChargeMemoAmounts" />
          <xsd:enumeration value="paymentsLcy" />
          <xsd:enumeration value="invAmountsLcy" />
          <xsd:enumeration value="crMemoAmountsLcy" />
          <xsd:enumeration value="finChargeMemoAmountsLcy" />
          <xsd:enumeration value="outstandingOrders" />
          <xsd:enumeration value="shippedNotInvoiced" />
          <xsd:enumeration value="applicationMethod" />
          <xsd:enumeration value="pricesIncludingVat" />
          <xsd:enumeration value="locationCode" />
          <xsd:enumeration value="faxNumber" />
          <xsd:enumeration value="telexAnswerBack" />
          <xsd:enumeration value="vatRegistrationNumber" />
          <xsd:enumeration value="combineShipments" />
          <xsd:enumeration value="genBusPostingGroup" />
          <xsd:enumeration value="gln" />
          <xsd:enumeration value="postCode" />
          <xsd:enumeration value="county" />
          <xsd:enumeration value="debitAmount" />
          <xsd:enumeration value="creditAmount" />
          <xsd:enumeration value="debitAmountLcy" />
          <xsd:enumeration value="creditAmountLcy" />
          <xsd:enumeration value="eMail" />
          <xsd:enumeration value="homePage" />
          <xsd:enumeration value="reminderTermsCode" />
          <xsd:enumeration value="reminderAmounts" />
          <xsd:enumeration value="reminderAmountsLcy" />
          <xsd:enumeration value="numberSeries" />
          <xsd:enumeration value="taxAreaCode" />
          <xsd:enumeration value="taxLiable" />
          <xsd:enumeration value="vatBusPostingGroup" />
          <xsd:enumeration value="currencyFilter" />
          <xsd:enumeration value="outstandingOrdersLcy" />
          <xsd:enumeration value="shippedNotInvoicedLcy" />
          <xsd:enumeration value="reserve" />
          <xsd:enumeration value="blockPaymentTolerance" />
          <xsd:enumeration value="pmtDiscToleranceLcy" />
          <xsd:enumeration value="pmtToleranceLcy" />
          <xsd:enumeration value="icPartnerCode" />
          <xsd:enumeration value="refunds" />
          <xsd:enumeration value="refundsLcy" />
          <xsd:enumeration value="otherAmounts" />
          <xsd:enumeration value="otherAmountsLcy" />
          <xsd:enumeration value="prepaymentPercent" />
          <xsd:enumeration value="outstandingInvoicesLcy" />
          <xsd:enumeration value="outstandingInvoices" />
          <xsd:enumeration value="billToNumberOfArchivedDoc" />
          <xsd:enumeration value="sellToNumberOfArchivedDoc" />
          <xsd:enumeration value="partnerType" />
          <xsd:enumeration value="preferredBankAccountCode" />
          <xsd:enumeration value="cashFlowPaymentTermsCode" />
          <xsd:enumeration value="primaryContactNumber" />
          <xsd:enumeration value="contactType" />
          <xsd:enumeration value="responsibilityCenter" />
          <xsd:enumeration value="shippingAdvice" />
          <xsd:enumeration value="shippingTime" />
          <xsd:enumeration value="shippingAgentServiceCode" />
          <xsd:enumeration value="serviceZoneCode" />
          <xsd:enumeration value="contractGainLossAmount" />
          <xsd:enumeration value="shipToFilter" />
          <xsd:enumeration value="outstandingServOrdersLcy" />
          <xsd:enumeration value="servShippedNotInvoicedLcy" />
          <xsd:enumeration value="outstandingServInvoicesLcy" />
          <xsd:enumeration value="allowLineDisc" />
          <xsd:enumeration value="numberOfQuotes" />
          <xsd:enumeration value="numberOfBlanketOrders" />
          <xsd:enumeration value="numberOfOrders" />
          <xsd:enumeration value="numberOfInvoices" />
          <xsd:enumeration value="numberOfReturnOrders" />
          <xsd:enumeration value="numberOfCreditMemos" />
          <xsd:enumeration value="numberOfPstdShipments" />
          <xsd:enumeration value="numberOfPstdInvoices" />
          <xsd:enumeration value="numberOfPstdReturnReceipts" />
          <xsd:enumeration value="numberOfPstdCreditMemos" />
          <xsd:enumeration value="numberOfShipToAddresses" />
          <xsd:enumeration value="billToNumberOfQuotes" />
          <xsd:enumeration value="billToNumberOfBlanketOrders" />
          <xsd:enumeration value="billToNumberOfOrders" />
          <xsd:enumeration value="billToNumberOfInvoices" />
          <xsd:enumeration value="billToNumberOfReturnOrders" />
          <xsd:enumeration value="billToNumberOfCreditMemos" />
          <xsd:enumeration value="billToNumberOfPstdShipments" />
          <xsd:enumeration value="billToNumberOfPstdInvoices" />
          <xsd:enumeration value="billToNumberOfPstdReturnR" />
          <xsd:enumeration value="billToNumberOfPstdCrMemos" />
          <xsd:enumeration value="baseCalendarCode" />
          <xsd:enumeration value="copySellToAddrToQteFrom" />
          <xsd:enumeration value="validateEuVatRegNumber" />
          <xsd:enumeration value="id" />
          <xsd:enumeration value="currencyId" />
          <xsd:enumeration value="paymentTermsId" />
          <xsd:enumeration value="shipmentMethodId" />
          <xsd:enumeration value="paymentMethodId" />
          <xsd:enumeration value="taxAreaId" />
          <xsd:enumeration value="taxAreaDisplayName" />
          <xsd:enumeration value="contactId" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="workflowCustomers_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:workflowCustomers_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="number" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowCustomers" type="tns:workflowCustomers" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowCustomers" type="tns:workflowCustomers" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:workflowCustomers_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:workflowCustomers_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers" type="tns:workflowCustomers" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers" type="tns:workflowCustomers" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers_List" type="tns:workflowCustomers_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers_List" type="tns:workflowCustomers_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers" type="tns:workflowCustomers" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers" type="tns:workflowCustomers" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers_List" type="tns:workflowCustomers_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowCustomers_List" type="tns:workflowCustomers_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="workflowCustomers_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="workflowCustomers_Binding" type="tns:workflowCustomers_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowcustomers:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="workflowCustomers_Service">
    <port name="workflowCustomers_Port" binding="tns:workflowCustomers_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowCustomers" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>