Web References/WebService/workflowPurchaseDocuments.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="documentType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Blanket_Order" />
          <xsd:enumeration value="Return_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="appliesToDocType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Payment" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Finance_Charge_Memo" />
          <xsd:enumeration value="Reminder" />
          <xsd:enumeration value="Refund" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="balAccountType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Bank_Account" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="Pending_Prepayment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="invoiceDiscountCalculation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Percent" />
          <xsd:enumeration value="Amount" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="icStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="New" />
          <xsd:enumeration value="Pending" />
          <xsd:enumeration value="Sent" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="icDirection">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Outgoing" />
          <xsd:enumeration value="Incoming" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="jobQueueStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Scheduled_for_Posting" />
          <xsd:enumeration value="Error" />
          <xsd:enumeration value="Posting" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="documentType_1">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Credit_Memo" />
          <xsd:enumeration value="Blanket_Order" />
          <xsd:enumeration value="Return_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Fixed_Asset" />
          <xsd:enumeration value="Charge_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="vatCalculationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal_VAT" />
          <xsd:enumeration value="Reverse_Charge_VAT" />
          <xsd:enumeration value="Full_VAT" />
          <xsd:enumeration value="Sales_Tax" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="icPartnerRefType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Charge_Item" />
          <xsd:enumeration value="Cross_Reference" />
          <xsd:enumeration value="Common_Item_No" />
          <xsd:enumeration value="Vendor_Item_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="prepmtVatCalcType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal_VAT" />
          <xsd:enumeration value="Reverse_Charge_VAT" />
          <xsd:enumeration value="Full_VAT" />
          <xsd:enumeration value="Sales_Tax" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="jobLineType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Budget" />
          <xsd:enumeration value="Billable" />
          <xsd:enumeration value="Both_Budget_and_Billable" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="faPostingType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Acquisition_Cost" />
          <xsd:enumeration value="Maintenance" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="crossReferenceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Vendor" />
          <xsd:enumeration value="Bar_Code" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="subtype">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Item_Inventory" />
          <xsd:enumeration value="Item_Service" />
          <xsd:enumeration value="Comment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="planningFlexibility">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Unlimited" />
          <xsd:enumeration value="None" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Purchase_Document_Line_Entity">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentType" type="tns:documentType_1" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromVendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type" type="tns:type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="expectedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToInvoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToReceive" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="directUnitCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCostLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amountIncludingVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitPriceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="grossWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="netWeight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitsPerParcel" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitVolume" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="applToItemEntry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="indirectCostPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recalculateInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyRcdNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amtRcdNotInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityReceived" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityInvoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receiptNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receiptLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="profitPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToVendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorItemNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salesOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dropShipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatCalculationType" type="tns:vatCalculationType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transportMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="attachedToLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="entryPoint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionSpecification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="useTax" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatProdPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amtRcdNotInvoicedLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQuantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blanketOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="blanketOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBaseAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="systemCreatedEntry" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatDifference" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invDiscAmountToInvoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatIdentifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerRefType" type="tns:icPartnerRefType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerReference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtLineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtInv" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtInclVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatBaseAmt" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatCalcType" type="tns:prepmtVatCalcType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatIdentifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentTaxGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtToDeduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmtDeducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentLine" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmountInvInclVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtAmountInvLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatAmountInvLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentVatDifference" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatDiffToDeduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtVatDiffDeducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingAmtExVatLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aRcdNotInvExVatLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dimensionSetId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobTaskNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineType" type="tns:jobLineType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobUnitPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobTotalPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobUnitPriceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobTotalPriceLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobLineDiscAmountLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobCurrencyFactor" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobCurrencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobPlanningLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobRemainingQty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobRemainingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deferralCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnsDeferralStartDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prodOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="variantCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="binCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyPerUnitOfMeasure" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quantityBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outstandingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToInvoiceBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToReceiveBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyRcdNotInvoicedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyReceivedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyInvoicedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reservedQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="faPostingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="faPostingType" type="tns:faPostingType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="depreciationBookCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="salvageValue" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deprUntilFaPostingDate" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deprAcquisitionCost" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="maintenanceCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="insuranceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budgetedFaNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="duplicateInDepreciationBook" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="useDuplicationList" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="responsibilityCenter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCrossRef" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceType" type="tns:crossReferenceType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crossReferenceTypeNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="itemCategoryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="nonstock" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchasingCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrderSalesNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="specialOrderSalesLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="whseOutstandingQtyBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="completelyReceived" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="requestedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promisedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leadTimeCalculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inboundWhseHandlingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="allowItemChargeAssignment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyToAssign" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="qtyAssigned" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyToShip" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyToShipBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyShippedNotInvd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retQtyShpdNotInvdBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShpdNotInvd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShpdNotInvdLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyShipped" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnQtyShippedBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShipmentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShipmentLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnReasonCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="subtype" type="tns:subtype" />
          <xsd:element minOccurs="0" maxOccurs="1" name="routingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="operationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workCenterNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finished" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prodOrderLineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="overheadRate" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mpsOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningFlexibility" type="tns:planningFlexibility" />
          <xsd:element minOccurs="0" maxOccurs="1" name="safetyLeadTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="routingReferenceNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Purchase_Document_Line_Entity_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Purchase_Document_Line_Entity" type="tns:Purchase_Document_Line_Entity" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="workflowPurchaseDocuments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentType" type="tns:documentType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromVendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToVendorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToName2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToContact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="yourReference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToName2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToContact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="expectedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dueDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pmtDiscountDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipmentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension1Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shortcutDimension2Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currencyFactor" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pricesIncludingVat" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="languageCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="purchaserCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderClass" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberPrinted" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="onHold" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appliesToDocType" type="tns:appliesToDocType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appliesToDocNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balAccountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recalculateInvoiceDisc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receive" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoice" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="printPostedDocuments" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amountIncludingVat" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receivingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastReceivingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastPostingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorOrderNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorShipmentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorInvoiceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorCrMemoNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatRegistrationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellToCustomerNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reasonCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="genBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transportMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromVendorName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromVendorName2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromContact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shipToCountryRegionCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balAccountType" type="tns:balAccountType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderAddressCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="entryPoint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="correction" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transactionSpecification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentMethodCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="receivingNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxLiable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBusPostingGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="appliesToId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vatBaseDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="status" type="tns:status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscountCalculation" type="tns:invoiceDiscountCalculation" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscountValue" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sendIcDocument" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icStatus" type="tns:icStatus" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromIcPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToIcPartnerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="icDirection" type="tns:icDirection" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastPrepaymentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtCrMemoNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastPrepmtCrMemoNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="compressPrepayment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepaymentDueDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtCrMemoNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPostingDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPmtDiscountDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPaymentTermsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="prepmtPaymentDiscountPercent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="quoteNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobQueueStatus" type="tns:jobQueueStatus" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jobQueueEntryId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="incomingDocumentEntryNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creditorNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paymentReference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aRcdNotInvExVatLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amtRcdNotInvoicedLcy" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dimensionSetId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoiceDiscountAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numberOfArchivedVersions" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docNumberOccurrence" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="campaignNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buyFromContactNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="payToContactNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="responsibilityCenter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="completelyReceived" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postingFromWhseRef" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locationFilter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="requestedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promisedReceiptDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="leadTimeCalculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inboundWhseHandlingTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vendorAuthorizationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShipmentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="returnShipmentNumberSeries" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ship" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lastReturnShipmentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="assignedUserId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pendingApprovals" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workflowPurchaseDocumentLines" type="tns:Purchase_Document_Line_Entity_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="workflowPurchaseDocuments_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="workflowPurchaseDocuments" type="tns:workflowPurchaseDocuments" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="workflowPurchaseDocuments_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="documentType" />
          <xsd:enumeration value="buyFromVendorNumber" />
          <xsd:enumeration value="number" />
          <xsd:enumeration value="payToVendorNumber" />
          <xsd:enumeration value="payToName" />
          <xsd:enumeration value="payToName2" />
          <xsd:enumeration value="payToAddress" />
          <xsd:enumeration value="payToAddress2" />
          <xsd:enumeration value="payToCity" />
          <xsd:enumeration value="payToContact" />
          <xsd:enumeration value="yourReference" />
          <xsd:enumeration value="shipToCode" />
          <xsd:enumeration value="shipToName" />
          <xsd:enumeration value="shipToName2" />
          <xsd:enumeration value="shipToAddress" />
          <xsd:enumeration value="shipToAddress2" />
          <xsd:enumeration value="shipToCity" />
          <xsd:enumeration value="shipToContact" />
          <xsd:enumeration value="orderDate" />
          <xsd:enumeration value="postingDate" />
          <xsd:enumeration value="expectedReceiptDate" />
          <xsd:enumeration value="postingDescription" />
          <xsd:enumeration value="paymentTermsCode" />
          <xsd:enumeration value="dueDate" />
          <xsd:enumeration value="paymentDiscountPercent" />
          <xsd:enumeration value="pmtDiscountDate" />
          <xsd:enumeration value="shipmentMethodCode" />
          <xsd:enumeration value="locationCode" />
          <xsd:enumeration value="shortcutDimension1Code" />
          <xsd:enumeration value="shortcutDimension2Code" />
          <xsd:enumeration value="vendorPostingGroup" />
          <xsd:enumeration value="currencyCode" />
          <xsd:enumeration value="currencyFactor" />
          <xsd:enumeration value="pricesIncludingVat" />
          <xsd:enumeration value="invoiceDiscCode" />
          <xsd:enumeration value="languageCode" />
          <xsd:enumeration value="purchaserCode" />
          <xsd:enumeration value="orderClass" />
          <xsd:enumeration value="comment" />
          <xsd:enumeration value="numberPrinted" />
          <xsd:enumeration value="onHold" />
          <xsd:enumeration value="appliesToDocType" />
          <xsd:enumeration value="appliesToDocNumber" />
          <xsd:enumeration value="balAccountNumber" />
          <xsd:enumeration value="recalculateInvoiceDisc" />
          <xsd:enumeration value="receive" />
          <xsd:enumeration value="invoice" />
          <xsd:enumeration value="printPostedDocuments" />
          <xsd:enumeration value="amount" />
          <xsd:enumeration value="amountIncludingVat" />
          <xsd:enumeration value="receivingNumber" />
          <xsd:enumeration value="postingNumber" />
          <xsd:enumeration value="lastReceivingNumber" />
          <xsd:enumeration value="lastPostingNumber" />
          <xsd:enumeration value="vendorOrderNumber" />
          <xsd:enumeration value="vendorShipmentNumber" />
          <xsd:enumeration value="vendorInvoiceNumber" />
          <xsd:enumeration value="vendorCrMemoNumber" />
          <xsd:enumeration value="vatRegistrationNumber" />
          <xsd:enumeration value="sellToCustomerNumber" />
          <xsd:enumeration value="reasonCode" />
          <xsd:enumeration value="genBusPostingGroup" />
          <xsd:enumeration value="transactionType" />
          <xsd:enumeration value="transportMethod" />
          <xsd:enumeration value="vatCountryRegionCode" />
          <xsd:enumeration value="buyFromVendorName" />
          <xsd:enumeration value="buyFromVendorName2" />
          <xsd:enumeration value="buyFromAddress" />
          <xsd:enumeration value="buyFromAddress2" />
          <xsd:enumeration value="buyFromCity" />
          <xsd:enumeration value="buyFromContact" />
          <xsd:enumeration value="payToPostCode" />
          <xsd:enumeration value="payToCounty" />
          <xsd:enumeration value="payToCountryRegionCode" />
          <xsd:enumeration value="buyFromPostCode" />
          <xsd:enumeration value="buyFromCounty" />
          <xsd:enumeration value="buyFromCountryRegionCode" />
          <xsd:enumeration value="shipToPostCode" />
          <xsd:enumeration value="shipToCounty" />
          <xsd:enumeration value="shipToCountryRegionCode" />
          <xsd:enumeration value="balAccountType" />
          <xsd:enumeration value="orderAddressCode" />
          <xsd:enumeration value="entryPoint" />
          <xsd:enumeration value="correction" />
          <xsd:enumeration value="documentDate" />
          <xsd:enumeration value="area" />
          <xsd:enumeration value="transactionSpecification" />
          <xsd:enumeration value="paymentMethodCode" />
          <xsd:enumeration value="numberSeries" />
          <xsd:enumeration value="postingNumberSeries" />
          <xsd:enumeration value="receivingNumberSeries" />
          <xsd:enumeration value="taxAreaCode" />
          <xsd:enumeration value="taxLiable" />
          <xsd:enumeration value="vatBusPostingGroup" />
          <xsd:enumeration value="appliesToId" />
          <xsd:enumeration value="vatBaseDiscountPercent" />
          <xsd:enumeration value="status" />
          <xsd:enumeration value="invoiceDiscountCalculation" />
          <xsd:enumeration value="invoiceDiscountValue" />
          <xsd:enumeration value="sendIcDocument" />
          <xsd:enumeration value="icStatus" />
          <xsd:enumeration value="buyFromIcPartnerCode" />
          <xsd:enumeration value="payToIcPartnerCode" />
          <xsd:enumeration value="icDirection" />
          <xsd:enumeration value="prepaymentNumber" />
          <xsd:enumeration value="lastPrepaymentNumber" />
          <xsd:enumeration value="prepmtCrMemoNumber" />
          <xsd:enumeration value="lastPrepmtCrMemoNumber" />
          <xsd:enumeration value="prepaymentPercent" />
          <xsd:enumeration value="prepaymentNumberSeries" />
          <xsd:enumeration value="compressPrepayment" />
          <xsd:enumeration value="prepaymentDueDate" />
          <xsd:enumeration value="prepmtCrMemoNumberSeries" />
          <xsd:enumeration value="prepmtPostingDescription" />
          <xsd:enumeration value="prepmtPmtDiscountDate" />
          <xsd:enumeration value="prepmtPaymentTermsCode" />
          <xsd:enumeration value="prepmtPaymentDiscountPercent" />
          <xsd:enumeration value="quoteNumber" />
          <xsd:enumeration value="jobQueueStatus" />
          <xsd:enumeration value="jobQueueEntryId" />
          <xsd:enumeration value="incomingDocumentEntryNumber" />
          <xsd:enumeration value="creditorNumber" />
          <xsd:enumeration value="paymentReference" />
          <xsd:enumeration value="aRcdNotInvExVatLcy" />
          <xsd:enumeration value="amtRcdNotInvoicedLcy" />
          <xsd:enumeration value="dimensionSetId" />
          <xsd:enumeration value="invoiceDiscountAmount" />
          <xsd:enumeration value="numberOfArchivedVersions" />
          <xsd:enumeration value="docNumberOccurrence" />
          <xsd:enumeration value="campaignNumber" />
          <xsd:enumeration value="buyFromContactNumber" />
          <xsd:enumeration value="payToContactNumber" />
          <xsd:enumeration value="responsibilityCenter" />
          <xsd:enumeration value="completelyReceived" />
          <xsd:enumeration value="postingFromWhseRef" />
          <xsd:enumeration value="locationFilter" />
          <xsd:enumeration value="requestedReceiptDate" />
          <xsd:enumeration value="promisedReceiptDate" />
          <xsd:enumeration value="leadTimeCalculation" />
          <xsd:enumeration value="inboundWhseHandlingTime" />
          <xsd:enumeration value="vendorAuthorizationNumber" />
          <xsd:enumeration value="returnShipmentNumber" />
          <xsd:enumeration value="returnShipmentNumberSeries" />
          <xsd:enumeration value="ship" />
          <xsd:enumeration value="lastReturnShipmentNumber" />
          <xsd:enumeration value="id" />
          <xsd:enumeration value="assignedUserId" />
          <xsd:enumeration value="pendingApprovals" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="workflowPurchaseDocuments_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:workflowPurchaseDocuments_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="documentType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="number" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowPurchaseDocuments" type="tns:workflowPurchaseDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="workflowPurchaseDocuments" type="tns:workflowPurchaseDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:workflowPurchaseDocuments_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:workflowPurchaseDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments" type="tns:workflowPurchaseDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments" type="tns:workflowPurchaseDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments_List" type="tns:workflowPurchaseDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments_List" type="tns:workflowPurchaseDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments" type="tns:workflowPurchaseDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments" type="tns:workflowPurchaseDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments_List" type="tns:workflowPurchaseDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocuments_List" type="tns:workflowPurchaseDocuments_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_workflowPurchaseDocumentLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="workflowPurchaseDocumentLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_workflowPurchaseDocumentLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_workflowPurchaseDocumentLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_workflowPurchaseDocumentLines">
    <part name="parameters" element="tns:Delete_workflowPurchaseDocumentLines" />
  </message>
  <message name="Delete_workflowPurchaseDocumentLines_Result">
    <part name="parameters" element="tns:Delete_workflowPurchaseDocumentLines_Result" />
  </message>
  <portType name="workflowPurchaseDocuments_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_workflowPurchaseDocumentLines">
      <input name="Delete_workflowPurchaseDocumentLines" message="tns:Delete_workflowPurchaseDocumentLines" />
      <output name="Delete_workflowPurchaseDocumentLines_Result" message="tns:Delete_workflowPurchaseDocumentLines_Result" />
    </operation>
  </portType>
  <binding name="workflowPurchaseDocuments_Binding" type="tns:workflowPurchaseDocuments_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_workflowPurchaseDocumentLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/workflowpurchasedocuments:Delete_workflowPurchaseDocumentLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_workflowPurchaseDocumentLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_workflowPurchaseDocumentLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="workflowPurchaseDocuments_Service">
    <port name="workflowPurchaseDocuments_Port" binding="tns:workflowPurchaseDocuments_Binding">
      <address location="http://localhost:7647/DynamicsNAV110/WS/ReplaceWithAPercentEncodedCompanyName/Page/workflowPurchaseDocuments" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>